asgiref==3.4.1
Brotli==1.1.0
certifi==2025.1.31
cffi==1.15.1
charset-normalizer==2.0.0
cssselect2==0.4.1
dj-database-url
Django==3.2.25
django-payments==2.0.0
django-phonenumber-field==6.0.0
django-weasyprint==2.2.0
fonttools==4.27.1
gunicorn==21.2.0
idna==3.10
PyMySQL==1.0.2
packaging==21.3
python-dotenv==0.20.0
pdfkit==1.0.0
phonenumberslite==9.0.3
pillow==8.4.0
# Additional PDF fallback
# xhtml2pdf==0.2.5  # Removed due to reportlab dependency issues on production
# psycopg2-binary==2.9.8
pycparser==2.21
pydyf==0.1.2
pyphen==0.11.0
requests==2.27.1
sqlparse==0.4.4
tinycss2==1.1.1
# tinyhtml5==2.0.0
typing_extensions==4.1.1
urllib3==1.26.20
weasyprint==54.3
webencodings==0.5.1
whitenoise==5.3.0
zopfli==0.1.9
