asgiref==3.4.1
Brotli==1.1.0
certifi==2025.1.31
cffi==1.15.1
charset-normalizer==3.0.1
cssselect2==0.4.1
dj-database-url==2.3.0
Django==3.2.25
django-payments==2.0.0
django-phonenumber-field==6.0.0
django-weasyprint==2.2.0
fonttools==4.27.1
gunicorn==21.2.0
idna==3.10
packaging==21.3
pdfkit==1.0.0
phonenumberslite==9.0.3
pillow==8.4.0
# psycopg2-binary==2.9.8
pycparser==2.21
pydyf==0.1.2
pyphen==0.11.0
requests==2.27.1
sqlparse==0.4.4
tinycss2==1.1.1
# tinyhtml5==2.0.0
typing_extensions==4.1.1
urllib3==1.26.20
weasyprint==65.1
webencodings==0.5.1
whitenoise==6.9.0
zopfli==0.2.3.post1
