{% extends 'myapp/base.html' %}

{% block content %}
{% load static %}
{% load humanize %}
<div class="container">
    <h2>Your Cart</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Action</th> <!-- New column for the Remove button -->
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.product.price|intcomma }} Tsh</td>
                <td>{{ item.total_price|intcomma }} Tsh</td> <!-- Corrected total calculation -->
                <td>
                    <!-- Remove button -->
                    <a href="{% url 'remove_from_cart' item.id %}" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash"></i> Remove
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4>Total Price: {{ total_price|intcomma }} Tsh</h4>

    <!-- Continue Shopping and Buy Now Buttons -->
    <div class="d-flex justify-content-between mt-4">
        <a href="{% url 'home' %}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Continue Shopping
        </a>
        <a href="#" class="btn btn-primary">
            <i class="fas fa-shopping-cart"></i> Buy Now
        </a>
    </div>
</div>
{% endblock %}