{% extends "myapp/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block title %}Home{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
{% endblock %}

{% block content %}
<!-- Header Start -->
<div class="container-fluid header bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
        <div class="col-md-6 p-5 mt-lg-5">
            <h1 class="display-5 animated fadeIn mb-4">Explore Our <span class="text-primary">Wide Range of Products</span> To Be The First</h1>
            <p class="animated fadeIn mb-4 pb-2">From electronics to clothing, home decor to accessories, we offer an extensive variety of products that cater to all your needs. Browse through our diverse collection and stay ahead with exclusive offers, premium quality, and the best deals.</p>
            <a href="#carr" class="btn btn-primary py-3 px-5 me-3 animated fadeIn">Shop Now</a>
        </div>
        <div class="col-md-6 animated fadeIn">
            <div class="owl-carousel header-carousel">
                <div class="owl-carousel-item">
                    <img class="img-fluid" src="{% static 'img/pic1.jpg' %}" alt="">
                </div>
                <div class="owl-carousel-item">
                    <img class="img-fluid" src="{% static 'img/pic2.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="{% static 'img/log.jpeg' %}">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">Find the Perfect Products at Nyangi Market</h1>
                <p class="mb-4">Discover a wide range of high-quality electronics, furniture, clothing, and more, all in one place. Whether you're upgrading your home or shopping for the latest tech, we've got you covered with the best products at competitive prices.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Quality electronics from trusted brands</p>
                <p><i class="fa fa-check text-primary me-3"></i>Affordable and stylish furniture for every room</p>
                <p><i class="fa fa-check text-primary me-3"></i>Trendy clothing and fashion accessories for all occasions</p>
                <a class="btn btn-primary py-3 px-5 mt-3" href="#carr">Shop Now</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Search Start -->
<form method="GET" action="{% url 'index' %}" onsubmit="scrollToProducts()">
    <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
        <div class="container">
            <div class="row g-2">
                <div class="col-md-10">
                    <div class="row g-2">
                        <div class="col-md-4">
                            <input type="text" name="keyword" class="form-control border-0 py-3" placeholder="Search Keyword" value="{{ keyword }}">
                        </div>
                        <div class="col-md-4">
                            <select name="category" class="form-select border-0 py-3">
                                <option value="" {% if category == "" %}selected{% endif %}>All Categories</option>
                                {% for cat in categories %}
                                    <option value="{{ cat.0 }}" {% if category == cat.0 %}selected{% endif %}>{{ cat.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select name="location" class="form-select border-0 py-3">
                                <option value="" {% if location == "" %}selected{% endif %}>Location</option>
                                {% for region in regions %}
                                    <option value="{{ region.0 }}" {% if location == region.0 %}selected{% endif %}>{{ region.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-dark border-0 w-100 py-3" id="prod">Search</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Search End -->

<!-- Product Categories Start -->
<div class="container-xxl py-5">
    <div class="container" id="carr">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                    <h1 class="mb-3">Our Product Categories</h1>
                    <p>Browse through our diverse range of products. From cutting-edge electronics to elegant furniture, stylish fashion, and more, we offer something for everyone. Enjoy top-quality items at the best prices.</p>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4" id="product-container">
                    {% for product in products %}
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden shadow-lg transition-transform transform hover:scale-105">
                            <div class="position-relative overflow-hidden">
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="img-fluid product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-3 py-1 px-2">{{ product.category }}</div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-3 pt-1 px-2">{{ product.location }}</div>
                            </div>
                            <div class="p-3 pb-0">
                                <h5 class="price-flash">Tsh {{ product.price|intcomma }} /=</h5>
                                <a class="d-block h6 mb-1 product-name" href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                                <p class="product-description"><i class="fa fa-info-circle text-primary me-2"></i>{{ product.description }}</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-1"><i class="fa fa-box text-primary me-2"></i>{{ product.stock }} in stock</small>
                                <small class="flex-fill text-center border-end py-1"><i class="fa fa-calendar text-primary me-2"></i>{{ product.created_at|date:"M d, Y" }}</small>
                                <small class="flex-fill text-center py-1"><i class="fa fa-tag text-primary me-2"></i>{{ product.category }}</small>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br><br>
        <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
            <button id="load-more" class="btn btn-primary py-3 px-5">More Products</button>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
             // Function to scroll to the product section
    function scrollToProducts() {
        // Save the search action in localStorage to indicate a search was performed
        localStorage.setItem('searchPerformed', 'true');
    }

    // Check if a search was performed and scroll to the product section
    document.addEventListener('DOMContentLoaded', function() {
        if (localStorage.getItem('searchPerformed') === 'true') {
            // Scroll to the product section
            const productSection = document.getElementById('carr');
            if (productSection) {
                productSection.scrollIntoView({ behavior: 'smooth' });
            }

            // Remove the search flag from localStorage
            localStorage.removeItem('searchPerformed');
        }
    });
            $(document).ready(function() {
                let page = 2;  // Start loading from the second page
                const productContainer = $('#product-container');
                const loadMoreButton = $('#load-more');

                // Helper function to format numbers with commas (like Django's intcomma)
                function intcomma(value) {
                    return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                }

                loadMoreButton.click(function() {
                    $.ajax({
                        url: '?page=' + page,
                        type: 'GET',
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest'  // Indicate this is an AJAX request
                        },
                        success: function(response) {
                            if (response.products.length > 0) {
                                // Append new products to the container
                                response.products.forEach(function(product) {
                                    const formattedPrice = intcomma(product.price);  // Format the price
                                    const productHtml = `
                                        <div class="col-lg-4 col-md-6">
                                            <div class="property-item rounded overflow-hidden shadow-lg transition-transform transform hover:scale-105">
                                                <div class="position-relative overflow-hidden">
                                                    <a href="/product/${product.id}/">
                                                        <img class="img-fluid product-image" src="${product.image}" alt="${product.name}">
                                                    </a>
                                                    <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-3 py-1 px-2">${product.category}</div>
                                                    <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-3 pt-1 px-2">${product.location}</div>
                                                </div>
                                                <div class="p-3 pb-0">
                                                    <h5 class="price-flash">Tsh ${formattedPrice} /=</h5>
                                                    <a class="d-block h6 mb-1 product-name" href="/product/${product.id}/">${product.name}</a>
                                                    <p class="product-description"><i class="fa fa-info-circle text-primary me-2"></i>${product.description}</p>
                                                </div>
                                                <div class="d-flex border-top">
                                                    <small class="flex-fill text-center border-end py-1"><i class="fa fa-box text-primary me-2"></i>${product.stock} in stock</small>
                                                    <small class="flex-fill text-center border-end py-1"><i class="fa fa-calendar text-primary me-2"></i>${product.created_at}</small>
                                                    <small class="flex-fill text-center py-1"><i class="fa fa-tag text-primary me-2"></i>${product.category}</small>
                                                </div>
                                            </div>
                                        </div>
                                    `;
                                    productContainer.append(productHtml);
                                });

                                page++;  // Increment the page number for the next request

                                // Hide the button if there are no more products
                                if (!response.has_next) {
                                    loadMoreButton.hide();
                                }
                            } else {
                                loadMoreButton.hide();  // Hide the button if no products are returned
                            }
                        },
                        error: function() {
                            alert('Error loading more products.');
                        }
                    });
                });
            });
        </script>
    </div>
</div>
<!-- Product Categories End -->

<!-- Contact Details Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="bg-light rounded p-3">
            <div class="bg-white rounded p-4">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <img class="img-fluid rounded w-100" src="{% static 'img/logi.png' %}" alt="Contact Us">
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <div class="mb-4">
                            <h1 class="mb-3">Get in Touch</h1>
                            <p class="mb-4">We're here to help! Reach out to us for any inquiries or assistance. Our team is ready to assist you.</p>
                            <div class="d-flex align-items-center mb-3">
                                <div class="bg-primary rounded-circle p-3">
                                    <i class="fa fa-map-marker-alt text-white"></i>
                                </div>
                                <div class="ms-3">
                                    <h5 class="mb-0">Our Office</h5>
                                    <p class="mb-0">Cive, Dodoma, Tanzania</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <div class="bg-primary rounded-circle p-3">
                                    <i class="fa fa-phone-alt text-white"></i>
                                </div>
                                <div class="ms-3">
                                    <h5 class="mb-0">Call Us</h5>
                                    <p class="mb-0">+255 76181 7680</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <div class="bg-primary rounded-circle p-3">
                                    <i class="fa fa-envelope text-white"></i>
                                </div>
                                <div class="ms-3">
                                    <h5 class="mb-0">Email Us</h5>
                                    <p class="mb-0">bravomzogo@gmail.com</p>
                                </div>
                            </div>
                        </div>
                        <a href="https://maps.google.com" target="_blank" class="btn btn-primary py-3 px-4 w-100">
                            <i class="fa fa-map-marker-alt me-2"></i>Get Direction
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <h2>Live Radio Streaming</h2>
        <audio controls autoplay>
            <source src="http://localhost:8000/live" type="audio/ogg">
            Your browser does not support the audio element.
        </audio>
<!-- Contact Details End -->
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
{% endblock %}
